@model ProjectByCustomerViewModel
@{
    ViewData["Title"] = "Projects";
}

<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover table-sm">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Deadline</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var project in Model.Projects)
            {
                <tr>
                    <td>@project.Name</td>
                    <td>@project.Description</td>
                    <td data-sort="@project.Deadline.ToString("s")">
                        @project.Deadline.ToString("d")
                    </td>
                    <td><a class="btn btn-sm btn-primary" href="@Url.Action("TimeRegistrationsList", "TimeRegistrations", new { projectId = project.Id })" role="button">View time logs</a></td>
                    <td>
                        @if (project.Deadline > DateTime.Now)
                        {
                            <a class="btn btn-sm btn-primary" href="@Url.Action("LogTime", "TimeRegistrations", new { projectId = project.Id })" role="button">Log time</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>