@model ProjectListViewModel
@{
    ViewData["Title"] = "Projects";
}
@section Styles {
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />
}
<table class="table table-striped table-bordered project-table" style="width:100%">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Deadline</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var project in Model.Projects)
        {
            <tr>
                <td>@project.Name</td>
                <td>@project.Description</td>
                <td>@project.Deadline.ToString("d")</td>
                <td><a class="btn btn-primary" href="@Url.Action("TimeLogsList", "TimeLogs", new { projectId = project.Id })" role="button">View time logs</a></td>
                <td><a class="btn btn-primary" href="@Url.Action("LogTime", "TimeLogs", new { projectId = project.Id })" role="button">Log time</a></td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.project-table').DataTable();
        });
    </script>
}