@model ProjectListViewModel
@{
    ViewData["Title"] = "Projects";
}

<table class="table table-bordered table-hover project-table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Deadline</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var project in Model.Projects)
        {
        <tr class="@((project.Deadline - DateTime.Today).TotalDays < 3 ? "table-danger" : "")">
            <td>@project.Name</td>
            <td>@project.Description</td>
            <td>@project.Deadline.ToString("d")</td>
            <td><a class="btn btn-primary" href="@Url.Action("TimeLogsList", "TimeLogs", new { projectId = project.Id })" role="button">View time logs</a></td>
            <td><a class="btn btn-primary" href="@Url.Action("LogTime", "TimeLogs", new { id = project.Id })" role="button">Log time</a></td>
        </tr>
        }
    </tbody>
</table>