@model TimeLogListViewModel
@{
    ViewData["Title"] = "Time logs";
}
@section Styles {
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />
}
<table class="table table-bordered table-hover logs-table">
    <thead>
        <tr>
            <th scope="col">Worked hours</th>
            <th scope="col">Description</th>
            <th scope="col">Date</th>
            @if (Model.ProjectDeadline > DateTime.Now)
            {
                <th scope="col"></th>
            }
            @if (Model.ProjectDeadline > DateTime.Now)
            {
                <th scope="col"></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var timeLog in Model.TimeLogs)
        {
            <tr>
                <td>@timeLog.DurationDescription</td>
                <td>@timeLog.Description</td>
                <td data-sort="@timeLog.DateOfWork.ToString("s")">
                    @timeLog.DateOfWork.ToString("d")
                </td>
                @if (Model.ProjectDeadline > DateTime.Now)
                {
                    <td>
                        <a href="@Url.Action("EditLog", "TimeLogs", new { timeLogId = timeLog.Id})" class="btn btn-primary">Edit</a>
                    </td>
                }
                @if (Model.ProjectDeadline > DateTime.Now)
                {
                    <td>
                        <form asp-controller="TimeLogs" asp-action="DeleteLog">
                            <input type="hidden" id="TimeLogId" name="TimeLogId" value="@timeLog.Id" />
                            <input type="hidden" id="ProjectId" name="ProjectId" value="@Model.ProjectId" />
                            <button type="submit" class="btn btn-primary">Delete</button>
                        </form>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
@if (Model.ProjectDeadline > DateTime.Now)
{
    <a class="btn btn-primary" href="@Url.Action("LogTime", "TimeLogs", new { projectId = Model.ProjectId })" role="button">Log time</a>
    <br />
}
<a class="btn btn-secondary mt-2" href="@Url.Action("ProjectsList", "Projects")" role="button">Back to projects list</a>
@section Scripts {
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.logs-table').DataTable({
                "order": []
            });
        });
    </script>
}